body {
  background-color: #007bff;
  margin: 0;

  background: linear-gradient(
      rgba(0, 123, 255, 0.9) 0%,
      rgba(0, 123, 255, 0.6) 100%
    ),
    url('../src/assets/images/j.jpg');

  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;

  z-index: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  color: white;
}
span {
  color: white;
}
.home-container {
  z-index: 10;
  position: relative;
}
.text-thin {
  font-weight: 100;
}
.clouds {
  opacity: 0.3;
  background: transparent;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
}
.clouds li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: transparent;
  overflow: hidden;
  animation: clouds infinite linear;
  z-index: 0;
}
.clouds li:nth-child(1) {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  background-image: url('../src/assets/images/cloud1.png');
  left: -100%;
  top: 10%;
  animation-duration: 21s;
  animation-delay: 4s;
}
.clouds li:nth-child(2) {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  background-image: url('../src/assets/images/cloud2.png');
  left: -100%;
  top: 100%;
  animation-duration: 18s;
  animation-delay: 6s;
}
.clouds li:nth-child(3) {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  background-image: url('../src/assets/images/cloud2.png');
  left: -100%;
  top: 34%;
  animation-duration: 28s;
  animation-delay: 3s;
}
.clouds li:nth-child(4) {
  background-color: rgb(0, 0, 0) 05, 50, 0.384;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  background-image: url('../src/assets/images/cloud4.png');
  left: -100%;
  top: 44%;
  animation-duration: 22s;
  animation-delay: 2s;
}
.clouds li:nth-child(5) {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  background-image: url('../src/assets/images/cloud5.png');
  left: -100%;
  top: 60%;
  animation-duration: 16s;
  animation-delay: 5s;
}
.clouds li:nth-child(6) {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 40%;
  background-image: url('../src/assets/images/cloud6.png');
  left: -100%;
  top: 19%;
  animation-duration: 17s;
  animation-delay: 1s;
}
@keyframes clouds {
  0% {
    transform: translateY(0px);
    left: -50%;
  }

  100% {
    transform: translateY(30px);
    left: 100%;
  }
}
.days-grid {
  display: grid;
  justify-content: center;
  width: 100%;
  z-index: 0;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px 10px;
  margin-bottom: 20px;
}

.day-container {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.day-container p {
  margin: 0;
}
.day-container span {
  font-size: 0.8em;
  margin: 0;
  opacity: 0.7;
}

.day-text-container {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-evenly;
}

.city-title {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 20px 0;
  font-size: 1.2em;
}
.day-text {
  margin: 5px;
  font-size: 1em;
}
.border-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-container p {
  margin: 0;
}
.current-day-title {
  font-weight: 100;
}
.current-day-text {
  font-size: 0.8em;
}
.no-favorites-container {
  box-shadow: rgba(255, 0, 0, 0.22) 0px 0px 2px 1px;
  display: flex;
  align-items: center;
}
.no-favorites-text {
  margin: 0;
  padding: 10px;
}
.favorite-card {
  background: var(--light);
  transition: 0.5s all;
}
.favorite-card:hover {
  cursor: pointer;
  background: var(--dark);
  transition: 0.4s all;
}
.card-text {
  color: var(--dark);
  transition: 0.4s all;
}
.favorite-card:hover .card-text {
  color: var(--light);
  transition: 0.4s all;
}

.toast-text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 100;
  color: rgb(151, 151, 151);
}
.logo-title:hover {
  color: white;
  transition: all 0.3s;
}

.navbar-container {
  z-index: 10;
}
.card-header {
  font-size: 0.8em;
  font-weight: 100;
}
@media only screen and (max-width: 576px) {
  .current-day-text-container {
    display: flex;
  }
}
